*.dds
*.tga

attendgift/
bg/
birthdaycard/
character/
custom/
effect/
etc/**/
event/
guild/
item/icon/buildpreview/
item/icon/customize/position/
item/icon/etcpreview/
item/icon/na/
item/icon/petpreview/
item/icon/skinpreview/
item/icon/temp/
loadingimage/
loadingwindow/
map/arcade/
map/dungeonbanner/
map/guildevent/
map/guildhouse/
quest/
questimageplate/
screenmask/
storybook/
ugcmap/

